:root {
    --black: #000000;
    --grey: #cfcfcf;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.d-flex {
    display: flex;
    align-items: center;
}

.logo {
    margin: 70px;
    transform: scale(1.3);
}

.top-txt {
    margin: 15px;
    font-size: 1.9em;
    font-weight: 600;
}

.heavy {
    font-size: 2.2em;
    font-weight: 700;
}

.content {
    margin: 10px;
    font-size: 1.6em;
}

.container {
    margin: 90px 150px;
    padding: 50px 30px;
    background: rgba(0, 0, 0, .2);
}

.container hr {
    width: 88%;
    margin: 30px auto;
    border: 1px solid var(--grey);
}

.btn {
    margin-top: 40px;
    padding: 10px 25px;
    background: none;
    color: var(--white);
    font-size: 1.5em;
    border: 2px solid var(--white);
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.btn:hover {
    letter-spacing: 3px;
}

.extra {
    padding: 25px;
    font-size: 1.2em;
}

.checkbox {
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6) url("./bg.jpeg") center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    z-index: -1;
}

@media only screen and (max-width:2000px) {
    .logo {
        margin: 50px;
        transform: scale(1.2);
    }
    .top-txt {
        margin: 10px;
        font-size: 1.7em;
    }
    .heavy {
        font-size: 2em;
    }
    .content {
        margin: 6px;
        font-size: 1.25em;
    }
    .container {
        margin: 75px 100px;
        padding: 45px 25px;
    }
    .container hr {
        margin: 25px auto;
    }
    .btn {
        margin: 30px;
        padding: 7px 19px;
        font-size: 1.1em;
    }
    .extra {
        padding: 0;
        font-size: 1em;
    }
    .checkbox {
        padding: 15px;
        font-size: 1.2em;
    }
}

@media only screen and (max-width:1500px) {
    .logo {
        margin: 30px;
        transform: scale(1);
    }
    .top-txt {
        font-size: 1.4em;
    }
    .heavy {
        font-size: 1.7em;
    }
    .content {
        font-size: 1em;
    }
    .container {
        margin: 65px 80px;
        padding: 40px 20px;
    }
    .btn {
        padding: 5px 15px;
        font-size: .95em;
    }
    .btn:hover {
        letter-spacing: 2px;
    }
    .extra {
        font-size: .9em;
    }
    .checkbox {
        padding: 20px;
        font-size: 1em;
    }
}

@media only screen and (max-width:1024px) {
    .logo {
        margin: 25px;
        transform: scale(.9);
    }
    .top-txt {
        font-size: 1.3em;
    }
    .heavy {
        font-size: 1.5em;
    }
    .container {
        margin: 50px 70px;
        padding: 25px 10px;
    }
    .container hr {
        margin: 25px auto;
    }
    .btn {
        margin: 30px 0 0;
        font-size: .9em;
    }
    .extra {
        padding: 15px;
        font-size: .8em;
    }
    .checkbox {
        padding: 18px;
        font-size: .85em;
        line-height: 23px;
    }
}

@media only screen and (max-width:768px) {
    main {
        padding: 0 40px;
    }
    .logo {
        transform: scale(.8);
    }
    .content {
        font-size: .9em;
        line-height: 23px;
    }
    .container {
        margin: 50px;
        padding: 30px 10px;
    }
    .container hr {
        width: 93%;
        margin: 20px auto;
    }
    .btn {
        margin: 35px 0 0;
        font-size: .85em;
    }
}

@media only screen and (max-width:500px) {
    .logo {
        margin: 20px;
    }
    .container {
        margin: 50px 5px;
        padding: 30px 15px;
    }
    .btn {
        margin: 30px 0;
        font-size: .95em;
    }
    .extra {
        padding: 0;
    }
}

@media only screen and (max-width:400px) {
    main {
        padding: 0 20px;
    }
    .content {
        font-size: .85em;
    }
    .container {
        margin: 50px 5px;
        padding: 30px 15px;
    }
    .container hr {
        width: 95%;
        margin: 15px auto;
    }
    .checkbox {
        padding: 14px 0;
    }
}
